* {
  margin:0;
  padding:0;
}

* {
  font-family: 'Nanum Gothic', sans-serif;
}

header {
  background-color: grey;
}

nav ul {
  display: flex;
}

nav ul li {

  list-style: none;
  padding: 15px;
}
nav ul li a{
  text-decoration: none;
  color: white;
}
main {
  padding: 32px;
}
#cv {
  font-size: 48px;
  margin: 20px 0;
}
footer {
  padding: 40px;
  background-color:lightgrey;
}